table{
    border-collapse: collapse;
    width: 100%;
    border: 3px solid black;
}

th, td{
    padding: 4px;
    text-align: left;
}

th{
    background: gray;
    border-bottom: 2px solid black;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
  
.button{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;     
    background-color: #4CAF50; 
    color: white;
    border: 2px solid black;
    border-radius: 5px;  
}
   
.text-input{
    margin-bottom: 10px;  
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.delete-button{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;     
    background-color: red; 
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}

tfoot{
    margin-top: 8px;
    display: flex;
    justify-content: center;
}