.album{
    max-width: 700px;
    margin: 0 auto;
    text-align: justify;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
}
  
.photos-box{
    border: 1px solid black;
    padding: 20px;
    display: none;
}

.photo{
    border-bottom: 1px solid black;
}

.photos-box>.photo:last-child{
    border-bottom: none;
}

.photos_button{
    text-align: center;
    padding: 5px;
    display: block;
    cursor: pointer;
    text-decoration: underline;
}

img{
    margin-bottom: 20px;
}

.photos-box>.photo:last-child>img{
    margin-bottom: 0;
}

.photos-box>.photo:first-child>h3{
    margin-top: 0;
}